<!-- templates/pending_approval.html - Shown when pending user tries to login -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Account Pending Approval</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Account Pending Approval</h1>
    <p>Your account is awaiting administrator approval.</p>
    <p>Please check back later or contact an administrator for more information.</p>
    <p><a href="/login">Return to Login</a></p>
</body>
</html>
