<!-- templates/registration_pending.html - Shown after successful registration -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Registration Pending</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Registration Successful!</h1>
    <p>Your account has been created and is pending approval from an administrator.</p>
    <p>You will be able to log in once your account has been approved.</p>
    <p><a href="/login">Return to Login</a></p>
</body>
</html>
